* {
    /*outline: 1px red solid;*/
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;

    cursor: none;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    overflow: hidden;

    justify-content: center;
}

.floatingPage {
    position: absolute;
    top: 0px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-top-left-radius: 0%;
    transition:  1s all ease;
    z-index: -1;
}


/* header section */
header {
    flex: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
}
/* logo */
.logo {
    align-items: center;

    color: black;
}

.logo-image {
    width: 90px;
    height: 65px;
}

.logo-name {
    height: 22px;
    overflow: hidden;
}
.logo-name-text {
    position: relative;
    bottom: -5px;
    
    transition: all 0.3s ease;
    font-family: 'Poiret One', cursive;
}
/* wraper button*/
.Button {
    z-index: +1;
}
.menuButton {
    border-style: none;
    background-color: transparent;
    color: black;
    outline: none;

    transition: all 1s ease;

    opacity: 1;
    font-size: 1rem;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
/*main section */

/* content part - main- */
main {
    flex: 8;
    justify-content: space-around;
    align-items: flex-start;

    padding: 15px 0;

    color: black;
}
/* first part of content */
.left{
    justify-content: center;
    height: 300px;
}
.titleContainer {
    overflow: hidden;
}
.title {
    position: relative;
    top: -0px;

    transition: all 0.6s ease;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.fline {
    width: 100;
    overflow: hidden;
}
.line {
    position: relative;
    top: 0px;

    transition: all 0.6s ease;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.line:hover {
    position: relative;
    /*top: 45px;*/
    top: 0px;
    left: 6px;

    transition: all 0.6s ease;
}
/* second part of content*/
.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 50vw;
}
.circles {
    display: block;
    width: 200px;
    height: 200px;
    padding: 10px 10px;

    overflow: hidden;
}
.circles2 {
    display: none;
    width: 200px;
    height: 200px;
    padding: 10px 10px;

    overflow: hidden;
}
.hidden {
    display: none;
}
.circle1 {
    width: 180px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px rgba(110, 110, 110, 0.295) solid;
    border-radius: 50%;
}
.image {
    width: 50px;
    height: 50px;
}
.whiteCircle {
    border: 1px rgba(255, 255, 255, 0.849) solid;
}
.circle2 {
    position: relative;
    bottom: 0px;
    left: 180px;
    
    width: 180px;
    height: 180px;
    margin-top: 10px;

    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 50%;

    transition: all 1000ms ease;
}
.circle3 {
    position: relative;
    bottom: 180px;
    left: 0px;
    
    width: 180px;
    height: 180px;

    background-color: rgba(255, 0, 0, 0.26);
    border-radius: 50%;

    transition: all 300ms ease;
}
.circle3:hover {
    position: relative;
    bottom: 190px;
    left: -10px;
    
    width: 180px;
    height: 180px;

    background-color: rgba(255, 0, 0, 0.26);
    border-radius: 50%;

}
.blackCircle {
    background-image: linear-gradient(to right, #000000 0%, rgb(2, 2, 2) 100%);
}

/* footer section */
footer {
    flex: 1.4;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}
/* page number */
.pagesNumber {
    width: 5%;

    color: black;
    transition: all 1s ease;
    overflow: hidden;
    z-index: 5;
}
.total {
    font-size: 0.9em;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.actual {
    position: relative;
    left: 0px;

    transition: all 0.5s ease;
    font-family: 'Poiret One', cursive;
}


/* social media: */
.socialMedia {
    justify-content: space-around;
    align-items: center;

    width: 20%;
    height: 45px;

    transition: all 0.5s ease;
}
.somed {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    transition: 1000ms all ease;
}
.hovered {
    width: 45px;
    height: 45px;
}
 /* cursor styling*/
 .cursor {
    position: fixed;
    left: -100px;
	top: 50%;
    width: 35px;
    height: 35px;
    transform: translateX(-50%) translateY(-50%);

    border: 1px rgb(206, 206, 206) solid;
    box-shadow: 0 0 5px 5px rgb(184, 184, 184);
    border-radius: 50%;
    pointer-events: none;
    transition: all 100ms linear;
}
.hover {
    width: 85px;
    height: 85px;

    background-color: rgb(73, 73, 73);
    border: none;
    box-shadow: 0 0 5px 5px rgb(73, 73, 73);

    mix-blend-mode: difference;
    transition: all 100ms linear;
}
.hover2 {
    width: 55px;
    height: 55px;

    border: none;
    box-shadow: 0 0 5px 5px rgb(73, 73, 73);

    transition: all 100ms linear;
}
/* alert section*/
.alert {
    position: absolute;
    top: -15%;

    width: 100%;
    height: 10%;

    justify-content: center;

    transition: 800ms all ease;
}

    /* for mobiles :*/
    /*
@media only screen and (max-width: 1200px) {
/* content*/
/*
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -102%;
    height: 68%;
    margin: 65px;

    color: black;
}
}
@media only screen and (max-width: 920px) and (min-width: 880px){
/* text content*/
/*
.title {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.line {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
}
@media only screen and (max-width: 880px) {
.Button {
    position: relative;
    top: -94%;
    left: 78%;
    overflow: hidden;
    
    border-style: none;
    background-color: transparent;
    color: green;
    outline: none;
    font-size: 0.1rem;
}
/* content*/
/*
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -108%;

    height: 70%;
    margin: 30px;
}
.title {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.line {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
/* logo */
/*
.logo {
    position: absolute;
    top: 2.8%;
    left: 4.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    height: 60px;

    color: white;
}
.logo-image {
    width: 85px;
    height: 60px;

    cursor: pointer;
}

.logo-name {
    height: 20px;

    overflow: hidden;
}
.logo-name-text {
    position: relative;
    top: 0px;
    
    transition: all 0.3s ease;
}

/* page numbers*/
/*
.pagesNumber {
    display: flex;
    flex-direction: row;
    width: 9%;

    position: relative;
    top: -20%;
    left: 85%;

    color: black;
    transition: all 1s ease;
    overflow: hidden;
    z-index: 5;
}
}