* {
    outline: 1px red solid;
    box-sizing: border-box;
}
body {
    align-items: center;
    cursor: none;
}
.Book {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    overflow: hidden;
}
.floatingPage {
    position: relative;
    top: 0px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-top-left-radius: 0%;
    transition:  1s all ease;
}
.Button {
    position: relative;
    height: 45px;
    bottom: 93%;
    left: 90%;

    z-index: +1;
}
.menuButton {
    border-style: none;
    background-color: transparent;
    color: black;
    outline: none;

    transition: all 1s ease;

    opacity: 1;
    font-size: 1rem;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
/* page number */
.pagesNumber {
    width: 5%;
    position: relative;
    bottom: 20%;
    left: 91%;

    color: black;
    transition: all 1s ease;
    overflow: hidden;
    z-index: 5;
}
.total {
    font-size: 0.9em;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.actual {
    position: relative;
    left: 0px;

    transition: all 0.5s ease;
    font-family: 'Poiret One', cursive;
}

/* logo section*/
.logo {
    position: absolute;
    bottom: 85%;
    left: 3%;
    align-items: center;
    width: 280px;
    height: 70px;

    color: black;
}

.logo-image {
    width: 105px;
    height: 80px;
}

.logo-name {
    height: 22px;
    overflow: hidden;
}
.logo-name-text {
    position: relative;
    bottom: -5px;
    
    transition: all 0.3s ease;
    font-family: 'Poiret One', cursive;
}
/* social media: */
.socialMedia {
    position: absolute;
    bottom: 4%;
    left: 3%;

    justify-content: space-around;
    align-items: center;

    width: 20%;
    height: 45px;

    transition: all 0.5s ease;
}
.facebook, .instagram, .linkedIn, .gitHub {
    width: 35px;
    height: 35px;

    border-radius: 50%;
}
 /* cursor styling*/
 .cursor {
    position: fixed;
    left: -100px;
	top: 50%;
    width: 35px;
    height: 35px;
    transform: translateX(-50%) translateY(-50%);

    border: 1px rgb(206, 206, 206) solid;
    box-shadow: 0 0 5px 5px rgb(184, 184, 184);
    border-radius: 50%;
    pointer-events: none;
    /*transition: all 100ms linear;*/
}
.hover {
    width: 85px;
    height: 85px;

    background-color: rgb(73, 73, 73);
    border: none;
    box-shadow: 0 0 5px 5px rgb(73, 73, 73);

    mix-blend-mode: difference;
}
/* content part - main- */
.content {
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    top: -100%;

    height: 68%;
    padding: 15px 0;

    color: black;
}
/* first part of content */
.left{
    justify-content: center;
    height: 300px;
}
.titleContainer {
    overflow: hidden;
}
.title {
    position: relative;
    top: -0px;

    transition: all 0.6s ease;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.fline {
    width: 100;
    overflow: hidden;
}
.line {
    position: relative;
    top: 0px;

    transition: all 0.6s ease;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.line:hover {
    position: relative;
    /*top: 45px;*/
    top: 0px;
    left: 6px;

    transition: all 0.6s ease;
}
/* second part of content*/
.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 40vw;
}

.circles {
    width: 200px;
    height: 200px;
    padding: 10px 10px;

    overflow: hidden;
}
.circle1 {
    width: 180px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px rgba(0, 0, 0, 0.849) solid;
    border-radius: 50%;
}
.circle2 {
    position: relative;
    bottom: 0px;
    left: 180px;
    
    width: 180px;
    height: 180px;
    margin-top: 10px;

    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 50%;

    transition: all 1000ms ease;
}
    /* for mobiles :*/
    /*
@media only screen and (max-width: 1200px) {
/* content*/
/*
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -102%;
    height: 68%;
    margin: 65px;

    color: black;
}
}
@media only screen and (max-width: 920px) and (min-width: 880px){
/* text content*/
/*
.title {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.line {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
}
@media only screen and (max-width: 880px) {
.Button {
    position: relative;
    top: -94%;
    left: 78%;
    overflow: hidden;
    
    border-style: none;
    background-color: transparent;
    color: green;
    outline: none;
    font-size: 0.1rem;
}
/* content*/
/*
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -108%;

    height: 70%;
    margin: 30px;
}
.title {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
.line {
    position: relative;
    top: 0px;
    
    transition: all 0.6s ease;
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}
/* logo */
/*
.logo {
    position: absolute;
    top: 2.8%;
    left: 4.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    height: 60px;

    color: white;
}
.logo-image {
    width: 85px;
    height: 60px;

    cursor: pointer;
}

.logo-name {
    height: 20px;

    overflow: hidden;
}
.logo-name-text {
    position: relative;
    top: 0px;
    
    transition: all 0.3s ease;
}

/* page numbers*/
/*
.pagesNumber {
    display: flex;
    flex-direction: row;
    width: 9%;

    position: relative;
    top: -20%;
    left: 85%;

    color: black;
    transition: all 1s ease;
    overflow: hidden;
    z-index: 5;
}
}